APP_URL=https://example.com
APP_NAME=Grundschultag Anmeldung

DB_HOST=localhost
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASS=

MAIL_FROM=
MAIL_FROM_NAME=Grundschultag
MAIL_SUBJECT=Ihre Anmeldung zum Grundschultag
